body{
font-family: SolaimanLipi, Arial;
margin:0;
background:#f4f4f4;
}

header{
background:#c40000;
color:white;
text-align:center;
padding:20px;
}

.container{
width:70%;
margin:auto;
background:white;
padding:30px;
margin-top:20px;
}

.news-img{
width:100%;
border-radius:5px;
margin-bottom:20px;
}

h2{
font-size:28px;
color:#c40000;
}

.report{
color:gray;
font-size:14px;
margin-bottom:20px;
}

p{
font-size:18px;
line-height:1.7;
}

footer{
background:#222;
color:white;
text-align:center;
padding:15px;
margin-top:20px;
}
